<!DOCTYPE html>
<html>
    <head>
        <title>LAN Chat</title>
        <link rel="stylesheet" href="../static/styles.css">
    </head>

    <body>

        <img src="../static/images/logo_colour.png" alt="Logo" class="logo">

        <div class="container">
            <div class="sidebar">
                <h3>Channels</h3>
                <ul id="channel-list">
                    {% for channel in channels %}
                    <li class="channel-item" data-room="{{ channel.name.lower() }}">{{ channel.name }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="main-content">
                <label>Nickname:</label>
                <input id="username" placeholder="Enter your nickname">
                <p class="instructions">Enter your nickname above, then click on a channel</p>

                <hr>

                <div id="chat"></div>

                <br>

                <input id="message" placeholder="Message">
                <button onclick="sendMessage()">Send</button>
            </div>
        </div>

        <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
        <script src="/static/chat.js"></script>

    </body>
</html>